@font-face {
  font-family: 'Orbitron';
  src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('ShareTechMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
